.dashboard-header {
    padding: 1rem;
}

.title-container {
    display: flex;
    align-items: center; /* title and icon in same line */
}

.dashboard-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blue-text {
    color: #068FFF;
}

.dashboard-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.tagline {
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0 0 0; /* ensures it goes below title */
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap; /* responsive */
    margin: 2rem 0;
}

.card {
    flex: 1;
    background-color: #068FFF; /* primary color */
    color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    min-width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.card p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

/* Optional: differentiate cards with grey shades */
#card-top-low { background-color: #333; }


.data-cards {
    display: flex;
    flex-direction: column; /* stack cards vertically */
    gap: 2rem; /* space between cards */
    margin: 2rem 0;
}

.data-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; /* full width of container */
    max-width: 900px; /* optional max width */
    margin: 0 auto; /* center on page */

}


.filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filters label {
    font-weight: bold;
    color: #333;
}

.filters select {
    padding: 0.3rem;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

table th {
    background-color: #08C2FF;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: grey;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #08C2FF;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

